<section class="container mx-auto px-4 mt-10 ">
  <div class="flex flex-col items-center sm:flex-row-reverse gap-6 sm:gap-0">
      <!-- Content Side -->
      <div class="space-y-6 sm:w-3/4 flex flex-col items-center sm:items-end ">
          <h2 class="text-main-yellow font-semibold text-3xl text-center sm:text-end "> Nos Objectifs</h2>
          
          <p class="text text-center sm:text-end text-balance text-gray-900">
            Dans un contexte où l’accès à l’énergie reste un défi majeur en République Démocratique du Congo, notre entreprise s'engage à jouer un rôle clé dans la transformation énergétique du pays. Nos objectifs sont clairs et orientés vers un avenir durable et fiable pour tous. Voici les principaux objectifs que nous poursuivons dans notre secteur d’activité :
          </p>
         
          <ul class="space-y-4">
              <% objectifs.forEach(function(objectif) { %>
                  <li class="flex flex-col gap-3 sm:items-end">
                      <div class="flex flex-col sm:flex-row items-center sm:items-end sm:gap-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="size-5 text-yellow-600 flex-shrink-0 mt-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                              <polyline points="22 4 12 14.01 9 11.01"></polyline>
                          </svg> 
                          <h3 class="text-gray-700 sm:relative text-center sm:text-end  top-1 font-medium"><%= objectif.title %></h3>   
                      </div>
                      <p class="text-sm text-center sm:text-end text-balance"><%= objectif.content %></p> 
                  </li>
              <% }); %>
          </ul>
          
          <a href="#contact" class="inline-block px-6 py-3 bg-[#B8860B] hover:bg-[#8B6914] text-white font-semibold rounded-full transition duration-300">
              Nous contacter
          </a>
      </div>
      
      <!-- Image Side -->
      <div class="relative sm:w-2/4 grid grid-rows-1 gap-2">
        <div class="grid grid-cols-2 gap-2">
          <img 
            src="https://images.unsplash.com/photo-1509391366360-2e959784a276?ixlib=rb-4.0.3&auto=format&fit=crop&w=1744&q=80" 
            alt=""
            class="rounded-lg"
            >
          <img 
            src="https://res.cloudinary.com/do2qnb4zc/image/upload/v1732699818/ob2_odw5yo.jpg" 
            alt=""
            class="rounded-lg"
          >
        </div>
        <div class="flex justify-center">
          <img 
            src="https://res.cloudinary.com/do2qnb4zc/image/upload/v1732700209/Capture_d_%C3%A9cran_du_2024-11-27_10-36-19_mrti8c.png" 
            alt=""
            class="rounded-lg"
          >
        </div>
      </div>
  </div>
</section>